<div id="">
  <div class="row my-4 py-lg-5">
    <div
      class="col-sm-12 col-md-12 col-lg-12 text-white back-image py-lg-5 py-3"
    >
      <!-- <img class="about-image" src="images/us.jpg" alt="Lifeline" /> -->
      <h3 class="about-header">ABOUT US</h3>
      <div class="about-text lh-lg text-start px-lg-5 fs-beauty">
        <p>
          Lifeline Educational Solutions is an educational hub in the heart of
          Tamale, Northern Region, Ghana. We specialize in providing tailored
          solutions to the myriad educational challenges encountered by schools,
          parents, and students. Our motto, "Think Solutions; think Lifeline,"
          encapsulates our commitment to being the definitive answer to
          educational needs. We are more than just a solution; we are the
          epitome of excellence in education.
        </p>

        <p>
          We take pride in our collaborative approach, working hand in hand with
          various educational experts to deliver unparalleled quality services.
          Lifeline Educational Solutions Limited is your trusted ally in
          fostering teaching excellence and overcoming educational hurdles.
        </p>

        <p>
          Discover the Lifeline advantage – where innovative solutions meet
          educational excellence! 🚀
        </p>
      </div>

      <a class="btn btn-outline-light" href="/about">Read More</a>
    </div>
  </div>
</div>
