<div id="about">
  <div class="row my-4">
    <div class="col-sm-12 col-md-12 col-lg-6">
      <img class="about-image" src="images/us.jpg" alt="Lifeline" />
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 fs-1 text-white">
      <h3 class="about-header">ABOUT US</h3>
      <p class="about-text lh-lg">
        At Lifeline Educational Solutions, we go beyond traditional classroom
        settings, offering personalized tuition, innovative resources, and
        support to ensure your child's success. Who are we? Click on the button
        to find out.
      </p>
      <a class="btn btn-outline-light" href="">Read More</a>
    </div>
  </div>
</div>
