<div id="about">
  <div class="row my-4">
    <div class="col-sm-12 col-md-12 col-lg-6">
      <img class="about-image" src="images/us.jpg" alt="Lifeline" />
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 fs-1 text-white">
      <h3 class="about-header">ABOUT US</h3>
      <p class="about-text lh-base">
        Lifeline Educational Solutions Limited is an educational hub in the
        heart of Tamale, Northern Region of Ghana. We proffer solutions to the
        several educational challenges schools, parents, and students face. Our
        motto: Think Solutions; think Lifeline sums up exactly what we do and
        represent - we are the Solution.
      </p>
      <a class="btn btn-outline-light" href="">Read More</a>
    </div>
  </div>
</div>
