<div class="my-4 shadow-one">
  <h5 class="py-3 choose-title">Why Choose Us</h5>
  <div class="row">
    <div class="col-lg-4 px-5 py-3">
      <p class="border border-danger p-2 hover shadow-one">
        Our tutors are carefully recruited for their character, knowledge and
        professional skills.
      </p>
    </div>

    <div class="col-lg-4 px-5 py-3">
      <p class="border border-secondary p-2 hover shadow-one">
        We diagnose and implement the right solutions to address your ward's
        challenges.
      </p>
    </div>

    <div class="col-lg-4 px-5 py-3">
      <p class="border border-warning p-2 hover shadow-one">
        Our tutors use broad-based teaching approaches and problem-solving
        techniques.
      </p>
    </div>

    <div class="col-lg-4 px-5 py-3">
      <p class="border border-info rounded p-2 hover shadow-one">
        We give you a whole range of offers to choose from,we then help your
        ward base on your choice.
      </p>
    </div>

    <div class="col-lg-4 px-5 py-3">
      <p class="border border-primary p-2 hover shadow-one">
        We have helped hundreds of students and counting. Become part of our
        success story.
      </p>
    </div>

    <div class="col-lg-4 px-5 py-3">
      <p class="border border-success p-2 hover shadow-one">
        We provide your ward the right assistance and guidance to develop at
        his/her own pace.
      </p>
    </div>
  </div>
</div>
