<div class="d-flex justify-content-center my-3 shadow-one">
  <section>
    <div id="choose-us" class="row py-lg-4 my-5">
      <h3 class="choose-title pb-lg-4 pb-sm-4">WHY CHOOSE US?</h3>
      <div class="col-sm-12 col-md-4 col-lg-4 py-sm-5">
        <i class="fa-solid fa-money-check-dollar icon"></i>
        <h4 class="choose-header">Affordability</h4>
        <p class="choose-text text-dark-emphasis px-5">
          We give you offers that suits your challenge and budget.
        </p>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 py-sm-5">
        <i class="fa-solid fa-shield-halved icon"></i>
        <h4 class="choose-header">Results</h4>
        <p class="choose-text text-dark-emphasis px-4">
          We focus on getting you the results you have always wanted
        </p>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 py-sm-5">
        <i class="fa-solid fa-circle-check icon"></i>
        <h4 class="choose-header">Dependable</h4>
        <p class="choose-text text-dark-emphasis px-4">
          We use of varied approaches and problem-solving techniques.
        </p>
      </div>
    </div>
  </section>
</div>
