<!-- CONTACT-SECTION -->
<section id="contact" class="contact container-fluid bg-danger py-5">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6 pt-lg-3">
      <h2 class="footer-title pt-lg-5 pt-2 hero-header">GET IN TOUCH</h2>
      <P class="px-3 motivate"
        >YOU ARE JUST A PHONE CALL AWAY FROM GETTING THE SOLUTION YOU NEED</P
      >
      <div class="contact-button pb-lg-4">
        <button class="btn btn-lg btn-secondary phone-btn">
          <i class="fa-solid fa-address-card px-2"></i>CALL US
        </button>
        <button class="btn btn-lg btn-success email-btn">
          <i class="fa-solid fa-envelope px-2"></i>EMAIL US
        </button>
      </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-6 laptop">
      <img class="about-tuition-image" src="images/mobile.png" alt="" />
      <div class="phone">
        <p class="tel">
          <i class="fa-solid fa-phone px-2"></i>Helpline: 0246-011-004
        </p>
        <p class="tel">
          <i class="fa-solid fa-phone px-2"></i>Manager: 0243-934-353
        </p>
      </div>
      <div class="email">
        <p class="mail">Lifelineedusolutions@gmail.com</p>
        <p class="mail">Shirazadnan53@gmail.com</p>
      </div>
    </div>
  </div>
</section>
