<!-- FOOTER SECTION -->
<footer class="footer">
  <container-fluid class="text-center text-dark-emphasis">
    <p class="footer-title">Lifeline Educational Solutions</p>
    <small class="footer-copyright text-dark-50 d-block pt-0"
      >&copy; Copyright: All rights reserved</small
    >
    <div class="footer-icons pb-sm-5">
      <i class="fa-brands fa-facebook footer-icons"></i>
      <i class="fa-brands fa-square-twitter footer-icons"></i>
      <i class="fa-solid fa-envelope footer-icons"></i>
    </div>
  </container-fluid>
</footer>
