<div class="d-flex justify-content-center my-3" id="message">
  <div class="row banner h-50 my-3 shadow-one">
    <div class="col-lg-6 d-none d-lg-block"></div>
    <div class="col-lg-6 bg-white shadow-two">
      <h4 class="my-lg-4 my-3">CONTACT US</h4>
      <form action="/message" method="post" class="">
        <div class="my-4">
          <label for="type" class="label">SELECT SUBJECT:</label>
          <select name="subject" id="" class="shadow-one apply-input">
            <option value="">
              SELECT TYPE<span><i class="fa fa-arrow-down"></i></span>
            </option>
            <option value="enquiry">ENQUIRY</option>
            <option value="counselling">COUNSELLING</option>
            <option value="consultancy">CONSULTANCY</option>
            <option value="other">OTHER</option>
            <option value="help">HELP</option>
          </select>
        </div>

        <div class="my-4">
          <label for="name" class="label">NAME</label>
          <input
            type="text"
            name="name"
            required
            placeholder="Please Enter Your Full Name"
            class="shadow-one apply-input"
          />
        </div>

        <div class="my-4">
          <label for="contact" class="label">CONTACT</label>
          <input
            type="tel"
            required
            name="contact"
            placeholder="Enter your phone number"
            class="shadow-one apply-input"
          />
        </div>

        <div class="">
          <label for="message" class="label">MESSAGE</label>
          <textarea
            class="shadow-one apply-input"
            name="message"
            id=""
            required
            placeholder="Enter Message"
          ></textarea>
          <br />
        </div>
        <!-- <input type="text" name="news" placeholder="News" /> -->

        <small id="notice"></small>

        <div class="py-3">
          <button class="btn btn-success shadow-two" type="submit">
            SEND MESSAGE
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
