<section id="">
  <!-- NAV-TOGGLER -->
  <button
    class="navbar-toggler d-lg-none d-flex justify-content-start py-2"
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasResponsive"
  >
    <span class="navbar-toggler-icon navbar-dark d-flex"></span>
  </button>
  <!-- CANVAS TITLE & CLOSE BTN -->
  <div
    class="offcanvas-lg offcanvas-start"
    tabindex="-1"
    id="offcanvasResponsive"
    aria-labelledby="offcanvasResponsiveLabel"
  >
    <div class="offcanvas-header">
      <a class="navbar-brand d-lg-none" href="#">LIFELINE</a>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="offcanvas"
        data-bs-target="#offcanvasResponsive"
      ></button>
    </div>

    <div class="">
      <div class="mt-lg-2">
        <img class="admin-pic" src="images/Pic.png" alt="" />
        <ul class="nav navbar-nav admin-ul">
          <a class="admin-list active" href="#">
            <i class="fa-solid fa-clipboard"></i>DASHBOARD</a
          >
          <a class="admin-list" href="#"
            ><span class="admin-icon"
              ><i class="fa-solid fa-circle-user"></i></span
            >TUTORS</a
          >
          <a class="admin-list" href="#"
            ><span class="admin-icon"
              ><i class="fa-solid fa-handshake"></i></span
            >CLIENTS</a
          >
          <a class="admin-list" href="#"
            ><span class="admin-icon"><i class="fa-solid fa-users"></i></span
            >STUDENTS</a
          >
          <a class="admin-list" href="#"
            ><span class="admin-icon"
              ><i class="fa-solid fa-address-book"></i></span
            >STAFF</a
          >

          <a class="admin-list" href="#"
            ><span class="admin-icon"><i class="fa-brands fa-shopify"></i></span
            >FINANCE</a
          >
        </ul>
      </div>
    </div>
  </div>
  <form class="" role="search">
    <input
      class="form-control my-2 shadow-two"
      type="search"
      placeholder="Search"
      aria-label="Search"
    />
    <div class="d-grid">
      <button class="btn btn-success" type="submit">Search</button>
    </div>
  </form>
</section>
