<%- include('partials/header') %>
<div class="banner">
  <%- include('partials/NavBar') %>
  <div class="row">
    <div class="col-lg-6"></div>
    <div class="col-lg-6 text-white my-5 service-hero-text">
      <h2 class="hero-header mt-lg-5 fs-1 mt-5">
        Do You Want To Make An Important Decision?
      </h2>
      <p class="hero-text px-3 px-lg-5 fs-5">
        Speak to a counsellor. Here at Lifeline, we provide you the information
        you need to make informed decisions about your ward's education and
        future.
      </p>
      <!-- <button class="btn btn-success btn-lg shadow-two my-lg-3 my-3 me-3">
        SPEAK TO US
      </button> -->

      <a
        class="btn btn-danger btn-lg shadow-two my-lg-3 my-3"
        id="bookBtn"
        href="#message"
        >BOOK A SESSION</a
      >
    </div>
  </div>
</div>
<div class="container-sm py-2 services"><%- include('partials/message') %></div>
<%- include('partials/end') %>
