<%- include('partials/header') %>

<body>
  <!-- HERO PAGE AND NAV-BAR -->
  <div id="banner" class="banner">
    <%- include('partials/NavBar') %>
    <div class="container-sm apply-wall">
      <section class="row" id="requestText">
        <!-- TEXT AREA -->
        <div class="col-lg-6 text-start px-lg-5 d-none d-lg-block">
          <div class="tutorContact">
            <div><h4>CONTACTS:</h4></div>
            <div class="">
              <h5><i class="fa fa-address-book-o"></i>0246-011-004</h5>
              <h5><i class="fa fa-address-card-o"></i> 0243-934-353</h5>
            </div>
          </div>
        </div>

        <!-- FORM AREA -->
        <div class="col-lg-6 col-md-12 col-sm-12 pb-sm-5 mb-lg-5">
          <div class="pt-lg-5 client-form-text">
            <h3 class="text-white hero-header pb-lg-3 fs-2 pt-3">
              ENROLL YOUR WARD
            </h3>
            <p class="hero-text text-white lh-lg">
              Invest in Your Child's
              <span class="border px-2 shadow-one">Bright Future</span>
              : At Lifeline, we understand that every child is unique, and their
              educational journey should be tailored to their specific needs.
            </p>
            <div class="py-1">
              <button
                id="tutorRequestBtn"
                class="btn btn-lg btn-success me-lg-3 shadow-two"
                type="button"
              >
                REQUEST FOR TUTOR
              </button>
              <!-- <button
                  class="btn btn-lg btn-primary shadow-two d-none d-lg-inline"
                  type="button"
                >
                  Contact Us
                </button> -->
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <!-----------APPLICATION FORM------------>
  <div class="container-apply services-apply pb-sm-5 mt-lg-5" id="tutorRequest">
    <h5 class="py-lg-3 text-white py-sm-5 bg-success py-2">
      TUTOR REQUEST FORM
    </h5>
    <!-- NAV TABS -->
    <!-- <ul class="nav nav-tabs">
        <li class="active">
          <a href="#client" data-toggle="tab">Parent/Guardian Details</a>
        </li>
        <li><a href="#tab2" data-toggle="tab">Student Details</a></li>
        <li><a href="#tab3" data-toggle="tab">Tuition Preferences</a></li>
        <li><a href="#tab4" data-toggle="tab">Submit</a></li>
      </ul> -->

    <!-- FORM -->
    <%- include('partials/form') %>
  </div>

  <%- include('partials/end') %>
</body>
