<%- include('partials/header') %>
<div class="client-banner"><%- include('partials/NavBar') %></div>
<div class="container-sm py-2 services">
  <div class="px-lg-5 px-2 text-start mb-lg-2 mb-3">
    <div class="mt-lg-5 mt-3 fs-5">
      <p class="py-lg-3 lh-lg pb-lg-3 pb-2">
        Thank You for reaching out to us. We have received your message and will
        get back to you shortly. Please do well to call if it is urgent. Thank
        you.
      </p>
      <p>
        Regards, <br />
        Lifeline.
      </p>
    </div>
  </div>
</div>
<%- include('partials/end') %>
