<%- include('partials/header') %>
<div class="counsel-banner-half"><%- include('partials/NavBar') %></div>
<div class="container-sm py-2 services">
  <div class="px-lg-5 px-2 text-start mb-lg-2 mb-3">
    <div class="mt-lg-5 mt-3 fs-5">
      <p>Dear <%= counselee %></p>
      <p class="py-lg-3 lh-lg pb-lg-3 pb-2">
        Thank You for reaching out to us. We have received your message. An
        officer will get back to you shortly to discuss the next steps. You can
        reach us on
        <a href="tel:0246011004">0246011004</a> or
        <a href="tel:0243934353">0243934353</a>. Thank you.
      </p>
      <p>
        Regards, <br />
        Lifeline Management.
      </p>
    </div>
  </div>
</div>
<%- include('partials/end') %>
