<%- include('partials/header') %>

<div class="client-banner"><%- include('partials/NavBar') %></div>
<div class="container-sm py-2 services bg-white">
  <div class="fs-5 px-lg-5 px-2 text-start mb-lg-2 mb-3">
    <p class="mt-lg-5 mt-3">Dear <%= applicant %>,</p>
    <p class="py-lg-3 lh-lg pb-lg-3 pb-2">
      Thank You for Applying to Join Our Team. We have received your
      application, and it's now under review by our team. We will reach out to
      you shortly to discuss the next steps in the application process. If you
      have any questions or additional information to share, you can contact us
      on <a href="tel:0246011004">0246011004</a> or
      <a href="tel:0243934353">0243934353</a>.
    </p>
    <p class="">
      Regards, <br />
      Lifeline.
    </p>
  </div>
</div>
<%- include('partials/end') %>
